## LIBRARIES

In [80]:
import pandas as pd

## READ THE DATA

In [81]:
data = pd.read_csv("ratings.csv")
userItemData = pd.read_csv('ratings.csv')

data

    userId  ItemId
0     1001    5001
1     1001    5002
2     1001    5005
3     1002    5003
4     1002    5004
5     1002    5005
6     1003    5001
7     1003    5002
8     1004    5001
9     1004    5004
10    1004    5005
11    1005    5002
12    1005    5004

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userId  13 non-null     int64
 1   ItemId  13 non-null     int64
dtypes: int64(2)
memory usage: 336.0 bytes

## AFFINITY SCORE

In [83]:
# List of unique items
item_list = list(set(data["ItemId"].tolist()))

# Count of Users
userCount=len(set(data["ItemId"].tolist()))

# Empty data frame to store item affinity scores for items
item_affinity = pd.DataFrame(columns=("item1","item2","score"))
item_affinity
row_count=0

In [84]:
item_list

[5001, 5002, 5003, 5004, 5005]

In [85]:
user_count

5

In [86]:
# For each item in the list, compare with other items

for ind1 in range(len(item_list)):
    
    # List of users who bought item 1
    item1_users = data[data["ItemId"]==item_list[ind1]]["userId"].tolist()
    #print("Item 1 ", item1_users)
    
    # Get item 2 - items that are not item 1 or those that are not analyzed already
    for ind2 in range(ind1, len(item_list)):
        
        if (ind1 == ind2):
            continue
            
        # List of Users who bought item2
        item2_users = data[data["ItemId"] == item_list[ind2]]["userId"].tolist()
        #print("Item 2",item2_users)
        
        # Find score. Find the common list of users and divide it by the total users
        common_users = len(set(item1_users).intersection(set(item2_users)))
        score = common_users / user_count
        #print(score)
        
        # A score for item 1, item 2
        item_affinity.loc[row_count] = [item_list[ind1],item_list[ind2],score]
        row_count +=1
        
        # A score for item2, item 1. The same score would apply irrespective of the sequence.
        item_affinity.loc[row_count] = [item_list[ind2],item_list[ind1],score]
        row_count +=1
        
# Final result
item_affinity.head()

    item1   item2  score
0  5001.0  5002.0    0.4
1  5002.0  5001.0    0.4
2  5001.0  5003.0    0.0
3  5003.0  5001.0    0.0
4  5001.0  5004.0    0.2

## RECOMMENDING ITEMS

In [87]:
searchItem=5002
recoList=item_affinity[item_affinity.item1==searchItem]\
        [["item2","score"]]\
            .sort_values("score", ascending=[0])
        
print("Recommendations for item 5001\n", recoList)

Recommendations for item 5001
      item2  score
1   5001.0    0.4
10  5004.0    0.2
12  5005.0    0.2
8   5003.0    0.0